<div class="wrapper">
  <div class="header-container">
    <h4 class="header-container-title">CUSTOMER FILTER</h4>
    <p-button severity="danger" variant="text" type="button" [disabled]="disableDiscardBtn()" (click)="discardForm()"
      >Discard filters
    </p-button>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="content">
    <div class="event-card" formArrayName="events">
      @for (event of events.controls; track event; let i = $index) {
        <app-event-step
          [eventForm]="asFormGroup(event)"
          [index]="i"
          [eventOptions]="eventOptions()"
          [eventsList]="eventsList()"
          (removeEvent)="removeEvent($event)"
          (copyEvent)="copyEvent($event)"
          [isFirst]="i == 0"
        ></app-event-step>
      }

      <div class="event-card-footer">
        <p-button severity="secondary" variant="text" type="button" (click)="addEvent()"
          >+ Add Funnel Step
        </p-button>
      </div>
    </div>
    <p-button type="submit" label="Apply filters"></p-button>
  </form>
</div>
