@import 'primeicons/primeicons.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffd000;
  --text-main: #333333;
  --text-secondary-dark: #66667b;
  --text-muted: #666666;
  --bg-light: #f4f7f6;
  --font-family: Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main);
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

