.properties {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.property-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

:host ::ng-deep {
  .attribute-select-panel {
    min-width: 300px !important;
  }

  .operator-select-panel {
    min-width: 200px !important;
  }
}

.tabs-container {
  padding: 1rem 1rem;
}

.add-property-btn {
  width: fit-content;
}
